<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{errorname}}</title>
</head>
<body>
    <center>
    <h1>Sorry to hear</h1>
    <h2>{{errorname}}</h2>
    </center>
</body>
</html>
