body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #000000;
}
.header{
    text-align: center;
    margin-top: 20px;
    color: #000000;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    border-radius: 8px;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

tbody tr:hover {
    background-color: #f1f1f1; /* Highlight row on hover */
}

.form-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.form-container form {
    margin: 0 10px; /* Add space between the forms */
}

input {
    padding: 8px;
    margin: 0 5px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #4CAF50; /* Change border color on focus */
    outline: none; /* Remove outline */
}

button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.actions button {
    margin: 5px;
    background-color: #ffffff;
    color: #4CAF50;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.actions button:hover {
    background-color: #4CAF50;
    color: #ffffff;
}

.profile-container {
    position: absolute;
    top: 20px;
    right: 20px; /* Move the profile icon to the right */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    padding: 8px 15px;
    color:black;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 100px;
    text-align: left;
    border-radius: 4px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
